div {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 50px;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: green
}
.box4 {
  background-color: gray;
}

div:hover {
  transform: scale(1.3);
  transition: all 1s;
  box-shadow: 0 0 100px black;
}