table {
    width: 50%;
    /* border: 1px solid black; */
    border-collapse: separate;
    table-layout: fixed;
    /* caption-side: top; */
    empty-cells: hide;
}

td, th {
    border: 1px solid black;
}
img {
    width: 50px;
    vertical-align: middle;
}
