.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
    "b1 b1 b1"
    "b2 b3 b3"
    "b2 . b4";
}

.box1 {
    background-color: skyblue;
    /* grid-column:  1 / 4; */
    /* grid-row:  1 / 2; */
    grid-area: b1;
}
.box2 {
    background-color: greenyellow;
    /* grid-row:  2 / 4; */
    grid-area: b2;
}
.box3 {
    background-color: orange;
    /* grid-column:  2 / 4; */
    grid-area: b3;
}
.box4 {
    background-color: yellow;
    /* grid-column:  3 / 4; */
    grid-area: b4;
}